
.registration-form{
    
    .form{
        width: 400px;
        background-color: aqua;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 50px auto;
        border: 2px solid black;
        border-radius: 10px;
        padding: 55px;

        input{
            height: 35px;
            width: 270px;
            margin: 15px;
            border-radius: 10px;
            padding: 10px;
        }

        button{
            border-radius: 15px;
            background-color: black;
            color: white ;
            width: 10vw;
            font-size: 22px;
            padding: 10px;

            &:hover{
                background-color: white;
                color: black;
            }
        }
    }
    

}
   